@font-face {
  font-family: "OpenSans-Regular";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "OpenSans-Bold";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff");
}

/*------------ normalize, reset styles ------------*/

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
}

body {
  margin: 0;
}

main {
  display: block;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: var(--color-black);
}

ul {
  list-style: none;
}

img {
  border-style: none;
  display: block;
}

h2,
h3,
h4 {
  margin: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

.select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[hidden] {
  display: none;
}

/*------------ variables ------------*/

:root {
  --color-white: #fff; /* rgb(255, 255, 255) */
  --color-black: #000; /* rgb(0, 0, 0) */
  --color-gold: #b59f5b; /* rgb(181, 159, 91) */
  --color-gray: #989898; /* rgb(152, 152, 152) */
  --color-gold-light: #e1d9bd; /* rgb(225, 217, 189) */
  --color-gray-light: #eeeeee; /* rgb(238, 238, 238) */
  --color-mint-cream: #f4f7f6; /* rgb(244, 247, 246) */

  --font-family-regular: "OpenSans-Regular", sans-serif;
  --font-family-bold: "OpenSans-Bold", sans-serif;

  --font-size-header-title: 4.5rem;
  --font-size-header-title-tablet: 4rem;
  --font-size-header-title-mobile: 2.6rem;
  --font-size-title: 2rem;
  --font-size-trands-title: 1.8rem;
  --font-size-title-tablet: 1.7rem;
  --font-size-title-mobile: 1.6rem;
  --font-size-text-p: 1.5rem;
  --font-size-tags-aside: 1.4rem;
  --font-size-nav-aside: 1.3rem;
  --font-size-small: 1.2rem;

  --transition-duration: 0.3s;

  /* var(--color-mint-cream) */
}

/* common styles */

body {
  font-family: var(--font-family-regular);
  color: var(--color-black);
  background: var(--color-white);
}

.wrapper {
  max-width: 1170px;
  margin-inline: auto;
  padding-inline: 15px;
}

p {
  font-size: var(--font-size-text-p);
  line-height: 2.2rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.trands__title,
.shop__title,
.pop-up__title {
  font-family: var(--font-family-bold);
  font-size: var(--font-size-title);
  text-transform: uppercase;
  text-align: center;

  &::after {
    content: "";
    display: flex;
    width: 66px;
    margin: 10px auto 0px;
    border-bottom: 3px solid var(--color-gold-light);
  }
}

/*------------ HEADER ------------*/

/*-- background --*/

.header__background-image {
  background-image: url(../img/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-color: var(--color-white);
  position: relative;
  z-index: 0;
  min-height: 449px;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--color-black);
    opacity: 0.6;
    z-index: -1;
  }
}

/*-- logo --*/

.header__logo {
  width: 179px;
  padding-left: 3px;
}

.header__logo-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
}

/*-- menu --*/

.header__nav-list {
  display: flex;
  gap: 35px;
}

.header__nav-items {
  color: var(--color-white);
  font-size: var(--font-size-nav-aside);
  text-transform: uppercase;

  &:hover {
    text-decoration: underline;
    transition-duration: var(--transition-duration);
  }
}

.header__burger-menu {
  display: none;
}

/*-- title --*/

.header__title-h1 {
  box-sizing: border-box;
  max-width: 690px;
  margin: 102px auto 0;

  font-family: var(--font-family-bold);
  font-size: var(--font-size-header-title);
  color: var(--color-white);
  text-align: center;
  text-transform: uppercase;
  line-height: 7.5rem;
}

/*------------ POP-UP ------------*/

.pop-up {
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-nav-aside);
  background-color: var(--color-white);
  width: 390px;
  height: 590px;
  padding: 30px;
  margin-right: auto;
  margin-left: auto;
  display: none;
  z-index: 999;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 998;
  display: none;
}

.pop-up__position {
  display: flex;
  width: 100%;
  justify-content: center;
}

.pop-up__form {
  margin-top: 28px;
}

.select {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;

  padding-inline: 15px;
  padding-block: 15px;

  margin: 0;
  margin-top: 10px;

  border: 1px solid var(--color-mint-cream);
  outline: none;
  background-color: var(--color-mint-cream);

  color: var(--color-gray);

  background-image: url(../svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-position: center right 10px;
  background-size: 8px 15px;

  &:focus {
    border: 1px solid var(--color-gold);
    transition-duration: var(--transition-duration);
  }
}

.pop-up__subscribe {
  margin-top: 33px;
}

.pop-up__subscribe-title {
  display: inline-block;
  position: relative;
  width: 100%;
}

.subscribe-yes::before,
.subscribe-no::before {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 25px;
  height: 25px;
  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 25px 25px;
}

input[type="radio"]:checked + .subscribe-yes::before,
input[type="radio"]:checked + .subscribe-no::before {
  background-image: url(../svg/form-circle.svg);
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.pop-up__subscribe input[type="radio"] + label:not(:last-child) {
  margin-right: 30px;
}

.subscribe-yes,
.subscribe-no {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 5px;
}

.pop-up__extra-info {
  margin-top: 33px;
  padding-right: 10px;
}

textarea {
  margin-top: 10px;
  border: 1px solid var(--color-mint-cream);
  outline: none;
  background-color: var(--color-mint-cream);
  height: 90px;
  resize: none;
  padding: 21px;

  color: var(--color-gray);

  &:focus {
    border: 1px solid var(--color-gold);
    transition-duration: var(--transition-duration);
  }
}

.pop-up__submission {
  font-family: var(--font-family-bold);
  font-size: var(--font-size-tags-aside);
  text-transform: uppercase;
  color: var(--color-white);
  margin-top: 25px;
  padding: 15px 122px;
  border: none;
  background: var(--color-gold);
  cursor: pointer;

  &:hover {
    background: var(--color-black);
    transition-duration: var(--transition-duration);
  }
}

.pop-up__x-img {
  width: 20px;
  position: absolute;
  top: -30px;
  right: 0px;
  cursor: pointer;
}

.pop-up__image-form {
  position: fixed;
  width: 50px;
  bottom: 40px;
  right: 40px;
  z-index: 10;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 5px 100%, 0 40px);

  &:hover {
    background: rgba(255, 255, 255, 1);
    width: 60px;
    bottom: 35px;
    right: 35px;
    transition-duration: var(--transition-duration);
  }
}

.pop-up-toggle__svg {
  cursor: pointer;
}

.pop-up-toggle:checked ~ .pop-up {
  display: flex;
}

.pop-up-toggle:checked ~ .overlay {
  display: block;
}

/*------------ TRANDS ------------*/

.trands {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 59px;
}

.trands__cards {
  display: flex;
  gap: 4px;
  margin-top: 28px;
}

.trands__card-item {
  width: 25%;
  min-height: 320px;
  position: relative;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--color-black);
    opacity: 0.6;
    z-index: -1;
  }
}

.trands__image-first {
  background-image: url(../img/trend1.jpg);
}

.trands__image-second {
  background-image: url(../img/trend2.jpg);
}

.trands__image-thrid {
  background-image: url(../img/trend3.jpg);
}

.trands__image-fourth {
  background-image: url(../img/trend4.jpg);
}

.trands__card-preview {
  width: 100%;
  height: auto;
}

.trands__card-content {
  border: 3px solid var(--color-gold);
  padding-block: 35px 33px;
  padding-inline: 32px;
  margin-inline: 20px 21px;
  margin-bottom: 16px;
  position: absolute;
  bottom: 0;
}

.trands__card-title {
  font-family: var(--font-family-bold);
  font-size: var(--font-size-title);
  margin: 0;

  text-transform: uppercase;
  color: var(--color-white);
  display: inline;
  text-indent: 0;

  &:hover {
    color: var(--color-gold);
    transition-duration: var(--transition-duration);
    cursor: pointer;
  }
}

.trands__card-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-bottom: 10px;
  padding-inline: 0;
  gap: 16px;
}

.thrid-tags,
.fourth-tags {
  padding-left: 5px;
}

.trands__tags-item {
  font-family: var(--font-family-bold);
  font-size: var(--font-size-tags-aside);
  color: var(--color-gold);
  text-transform: uppercase;

  &:hover {
    text-decoration: underline;
    transition-duration: var(--transition-duration);
  }
}

/*------------ MAIN ------------*/

.main {
  display: flex;
  justify-content: space-between;
  padding-right: 3px;
  margin-top: 62px;
  margin-bottom: 60px;
}

.main__post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 778px;
  margin-bottom: 58.5px;

  &:nth-child(n + 3) .main__post-desc_item {
    padding-top: 15px;
  }

  &:nth-child(n + 3) .next-paragraph {
    padding-top: 0px;
  }
}

.main__post:last-of-type {
  margin-bottom: 0px;
}

.main__post-info {
  display: flex;
  flex-direction: column;
  max-width: 367px;
}

.main__post-sign {
  padding-top: 2px;
}

.main__post-image {
  width: 100%;
}

.main__post-image:first-child {
  padding-top: 2px;
}

.main__tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 2px;
}

.main__list-tags {
  padding: 0 18px 8px 0;
  margin: 0;
}

.main__tags-item {
  font-family: var(--font-family-bold);
  font-size: var(--font-size-tags-aside);
  color: var(--color-gold);
  text-transform: uppercase;

  &:hover {
    text-decoration: underline;
    transition-duration: var(--transition-duration);
  }
}

.main__post-title {
  display: block;
  font-family: var(--font-family-bold);
  font-size: var(--font-size-title);
  text-transform: uppercase;
  line-height: 1.2;
  padding: 0 20px 16px 0;
}

.main__title-item {
  color: var(--color-black);

  &:hover {
    color: var(--color-gold);
    transition-duration: var(--transition-duration);
  }
}

.main__post-author {
  font-family: var(--font-family-bold);
  font-size: var(--font-size-small);
  font-style: normal;
  padding-left: 2px;
}

.main__post-date {
  font-size: var(--font-size-small);
  color: var(--color-gray);
  line-height: 4rem;
  padding-right: 9px;
}

.main__post-desc_item:not(.next-paragraph) {
  padding-top: 20px;
}

.main__post-desc_item:not(:nth-of-type(1)):not(.next-paragraph) {
  padding-top: 37px;
}

p + p {
  margin-top: -5px;
}

/*------------ ASIDE ------------*/

.aside {
  display: flex;
  flex-direction: column;
  max-width: 272px;
}

.aside__section-title {
  display: block;
  text-align: center;
  font-family: var(--font-family-bold);
  font-size: var(--font-size-tags-aside);
  text-transform: uppercase;
  padding-left: 12px;

  &:after {
    content: "";
    display: flex;
    width: 66px;
    margin: 10px auto 0px;
    border-bottom: 3px solid var(--color-gold-light);
  }
}

.aside__image {
  width: 70px;
  padding: 0 0 3px 4px;
}

.aside__new-post {
  display: flex;
  padding-bottom: 19px;

  &:first-of-type {
    margin-top: 30px;
  }

  &:last-of-type {
    margin-bottom: 34px;
  }

  &:first-of-type h3 {
    padding: 3px 0 0 2px;
  }
}

.aside__preview {
  max-width: 183px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 17px;
}

.aside__post-date {
  font-size: var(--font-size-small);
  color: var(--color-gray);
  line-height: 1;
  padding-right: 3px;
}

.aside__post-title_h3 {
  display: flex;
  align-items: flex-start;
  font-family: var(--font-family-bold);
  font-size: var(--font-size-tags-aside);
  text-transform: uppercase;
  line-height: 18px;
  padding: 0;
}

.aside__post-title_h3 a {
  color: var(--color-black);

  &:hover {
    color: var(--color-gold);
    transition-duration: var(--transition-duration);
  }
}

/*-- search form --*/

.search {
  display: flex;
  padding: 0 0 59px 4px;
}

.search-field {
  box-sizing: border-box;
  font-size: var(--font-size-nav-aside);
  padding: 16px 46px 16px 17px;
  margin: 0;
  outline: none;
  background-color: var(--color-mint-cream);
  border: 1px solid var(--color-mint-cream);

  &:focus {
    border-block: 1px solid var(--color-gold);
    border-left: 1px solid var(--color-gold);
    transition-duration: var(--transition-duration);
  }
}

.search-button {
  padding: 0 24px;
  border: none;
  background: var(--color-gold) url(../svg/search.svg) center no-repeat;
  background-size: 18px 18px;
  cursor: pointer;

  &:hover {
    background: var(--color-black) url(../svg/search.svg) center no-repeat;
    background-size: 18px 18px;
    transition-duration: var(--transition-duration);
  }
}

/*-- email --*/

.aside__title-mailing {
  padding-right: 10px;
}

.email {
  display: flex;
  flex-direction: column;
  padding: 24px 0 59px 4px;
}

.email-field {
  box-sizing: border-box;
  font-size: var(--font-size-nav-aside);
  padding: 16px 93px 16px 17px;
  margin-bottom: 19px;
  outline: none;
  background-color: var(--color-mint-cream);
  border: 1px solid var(--color-mint-cream);

  &:focus {
    border: 1px solid var(--color-gold);
    transition-duration: var(--transition-duration);
  }
}

.email-button {
  font-family: var(--font-family-bold);
  font-size: var(--font-size-tags-aside);
  text-transform: uppercase;
  color: var(--color-white);
  padding: 15px 40px;
  border: none;
  background: var(--color-gold);
  cursor: pointer;

  &:hover {
    background: var(--color-black);
    transition-duration: var(--transition-duration);
  }
}

/*-- tags --*/

.aside__tags {
  display: block;
  text-align: center;
  font-family: var(--font-family-bold);
  font-size: var(--font-size-tags-aside);
  padding: 0 11px 21px 20px;
  line-height: 1;

  &:after {
    content: "";
    display: flex;
    width: 66px;
    margin: 12px auto 0px;
    border-bottom: 3px solid var(--color-gold-light);
  }
}

.aside__tags-list {
  display: flex;
  align-content: space-evenly;
  padding: 15px 0 50px 5px;
}

.aside__tags-list ul {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  padding: 0;
}

.aside__tags-list ul li a {
  font-family: var(--font-family-bold);
  font-size: var(--font-size-small);
  text-transform: uppercase;
  line-height: 30px;
  color: var(--color-black);
  border: 3px solid var(--color-gray-light);
  padding: 3px 13px 3px 12px;

  &:nth-child(2) a {
    padding: 3px 17px 3px 13px;
  }

  &:nth-child(5) a {
    padding: 3px 13px 3px 14px;
  }

  &:hover {
    border: 3px solid var(--color-gold);
    transition-duration: var(--transition-duration);
  }
}

/*-- themes --*/

.aside__themes_h2 {
  display: block;
  text-align: center;
  font-family: var(--font-family-bold);
  font-size: var(--font-size-tags-aside);
  padding: 0 11px 10px 23px;
  line-height: 1;

  &:after {
    content: "";
    display: flex;
    width: 66px;
    margin: 12px auto 0px;
    border-bottom: 3px solid var(--color-gold-light);
  }
}

.themes-list {
  padding: 0px 5px 0px;
}

.themes-list-item {
  display: flex;
  position: relative;
  font-family: var(--font-family-bold);
  font-size: var(--font-size-tags-aside);
  line-height: 47px;

  &:after {
    content: "";
    display: flex;
    width: 271px;
    border-bottom: 1px solid var(--color-gray-light);
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.themes-item {
  display: flex;
  color: var(--color-black);
  position: relative;
  z-index: 1;

  &:hover {
    color: var(--color-gold);
    transition-duration: var(--transition-duration);
  }
}

.aside__text-decoration {
  font-family: var(--font-family-bold);
  font-size: var(--font-size-small);
  font-weight: 700;
  color: var(--color-gold);
  line-height: 36.82px;
  padding: 4px 0 0 4px;
}

/*------------ SHOP ------------*/

.shop {
  display: flex;
}

.shop__cards {
  display: flex;
  gap: 60px;
  margin-top: 29px;
  justify-content: space-around;
}

.shop__selling-item {
  width: calc(33.3% - 90px);
  min-height: 440px;
}

.shop__card-item {
  outline: 3px solid var(--color-gold);
  outline-offset: 21px;
  height: 220px;
  margin-top: -10px;
  padding-top: 1px;
}

.shop__card-title {
  font-family: var(--font-family-bold);
  font-size: var(--font-size-title);
  color: var(--color-black);
  text-transform: uppercase;
  cursor: pointer;
  margin-block: 30px 5px;

  &:hover {
    color: var(--color-gold);
    transition-duration: var(--transition-duration);
  }
}

.shop__card-desc {
  margin: 0px;
}

.shop__desc-link {
  color: var(--color-gold);

  &:hover {
    text-decoration: underline;
    transition-duration: var(--transition-duration);
  }
}
.shop__card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 23px;
}
.shop__card-prices {
  display: flex;
  flex-direction: column;
}
.shop__old-price {
  font-family: var(--font-family-bold);
  font-size: var(--font-size-tags-aside);
  text-decoration: line-through;
}
.shop__new-price {
  font-family: var(--font-family-bold);
  font-size: var(--font-size-title);
}

.new-price {
  padding-top: 10px;
}

.shop-button {
  font-family: var(--font-family-bold);
  font-size: var(--font-size-tags-aside);
  text-transform: uppercase;
  border: none;
  color: var(--color-white);
  background: var(--color-gold);
  padding-block: 15px;
  padding-inline: 28px;
  cursor: pointer;

  &:hover {
    background: var(--color-black);
    transition-duration: var(--transition-duration);
  }
}

/*------------ FOOTER ------------*/

/*-- icons --*/

.footer {
  margin-top: 62px;
}

.footer__address {
  display: flex;
  justify-content: center;
  background-color: var(--color-mint-cream);
}

.footer__address-list {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 23px;
}

.footer__address-item {
  display: inline-block;
  text-align: center;
  padding: 30px 0;
}

.footer__social-icon_image {
  height: 20px;
  width: 20px;
  padding-left: 5px;
}

/*-- copyrights --*/

.footer__copyright {
  display: flex;
  justify-content: center;
  margin: 62px 0 41px 8px;
  font-family: var(--font-family-bold);
  font-size: var(--font-size-small);
  color: var(--color-gray);
  line-height: 4rem;
}

@media (max-width: 1200px) {
  .wrapper {
    padding-inline: clamp(5px, 4.5vw, 85px);
  }

  /*-- logo --*/

  .header__logo {
    width: 160px;
    padding-left: 0px;
  }

  .header__logo-menu {
    padding-top: 42px;
  }

  .header__title-h1 {
    max-width: clamp(650px, 65vw, 690px);
    font-size: clamp(
      var(--font-size-header-title-tablet),
      4vw,
      var(--font-size-header-title)
    );
    line-height: clamp(5.5rem, 6vw, 7.5rem);
    margin: 90px auto 0;
  }

  .header__background-image {
    background-image: url(../img/banner-bg-tablet.jpg);
    background-position: center bottom;
    min-height: 392px;
  }

  /* burger menu */

  .header__menu-container {
    position: relative;
  }

  .header__nav-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 12px;
    right: 55px;
    gap: 5px;
    z-index: 4;
  }

  .header__burger-menu {
    display: none;
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30px;
    right: 16px;
    width: 23px;
    height: 23px;
    justify-content: space-around;
    cursor: pointer;
    z-index: 3;
  }

  .bar {
    height: 3px;
    width: 100%;
    background-color: var(--color-white);
    transition: transform 0.3s ease;
  }

  .header__burger-menu:checked + .burger-menu .bar:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
  }

  .header__burger-menu:checked + .burger-menu .bar:nth-child(2) {
    opacity: 0;
  }

  .header__burger-menu:checked + .burger-menu .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  .header__nav {
    display: none;
  }

  .header__burger-menu:checked ~ .wrapper .header__nav {
    display: block;
  }

  .header__nav-button {
    background-color: var(--color-black);
    width: 120px;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px 10px;
    border: 3px solid var(--color-gold);

    &:hover {
      background-color: var(--color-gold);
      text-decoration: none;
      transition-duration: var(--transition-duration);
    }
  }

  .header__nav-items {
    display: block;
    font-family: var(--font-family-bold);
    color: var(--color-white);
    font-size: var(--font-size-trands-title);
    text-transform: uppercase;
    height: 100%;

    &:hover {
      text-decoration: none;
      transition-duration: var(--transition-duration);
    }
  }

  /* trands */

  .trands {
    margin-top: 46px;
  }

  .trands__title,
  .shop__title {
    font-size: var(--font-size-trands-title);
  }

  .trands__cards {
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 4px;
  }

  .trands__card-item {
    display: flex;
    align-items: flex-end;
  }

  .trands__card-content {
    border: 3px solid var(--color-gold);
    padding-block: 15px;
    padding-inline: 15px;
    margin-inline: 15px;
    margin-bottom: 16px;
    position: relative;
    display: flex;
    width: 100%;
  }

  .trands__card-item {
    width: calc(25% - 4px);
    min-height: 247px;
  }

  .trands__card-list {
    padding-bottom: 6px;
    gap: 10px;
  }

  .thrid-tags {
    padding-left: 0px;
  }

  .fourth-tags {
    padding-left: 0px;
  }

  .trands__card-title {
    font-size: clamp(
      var(--font-size-title-mobile),
      2vw,
      var(--font-size-title-mobile)
    );
    line-height: clamp(2.2rem, 2.5vw, 2.4rem);
  }

  /* main */

  .main {
    padding-right: 3px;
    margin-top: 45px;
    margin-bottom: 45px;
  }

  .posts {
    max-width: 650px;
  }

  .main__post {
    flex-direction: column;
    width: 100%;
    max-width: none;
    position: relative;
    margin-bottom: 39.5px;

    &::after {
      content: "";
      display: block;
      width: auto;
      border-bottom: 3px solid var(--color-gray-light);
      position: relative;
      margin-top: 0px;
    }

    &:nth-child(n + 2) .main__post-desc_item {
      padding-top: 0px;
      padding-right: 3px;
    }

    &:nth-child(5) .main__post-desc_item {
      padding-right: 5px;
    }
  }

  .main__post-image {
    width: 100%;
    height: auto;
    flex-grow: 1;
    margin-bottom: 16px;
  }

  .main__post-image img {
    width: 100%;
    height: auto;
  }

  .main__post-info {
    max-width: none;
  }

  .main__tags:nth-child(n + 3) {
    padding-top: 0px;
  }

  .main__post-title {
    font-family: var(--font-family-bold);
    font-size: var(--font-size-title-tablet);
    line-height: 1.3;
    padding: 0px 0px 18px 0;
    margin-right: -3px;
  }

  .main__post-desc_item:not(.next-paragraph) {
    padding-top: 0px;
  }

  .main__post-desc_item:not(:nth-of-type(1)):not(.next-paragraph) {
    padding-top: 0px;
  }

  p + p {
    margin-top: -5px;
  }

  /* aside */

  .aside {
    margin-left: 30px;
  }

  .aside__new-post {
    &:last-of-type {
      margin-bottom: 37px;
    }
  }

  /* shop */

  .shop__cards {
    flex-wrap: wrap;
    gap: 45px 70px;
    justify-content: flex-start;
    padding-inline: 20px 10px;
  }

  .shop__selling-item {
    width: calc(50% - 40px);
    min-height: 440px;
    position: relative;
  }

  .shop__card-preview {
    display: block;
    width: 100%;
    height: auto;
  }

  .shop__card-title {
    font-family: var(--font-family-bold);
    font-size: var(--font-size-title-tablet);
    color: var(--color-black);
    text-transform: uppercase;
    cursor: pointer;
    margin-block: 30px 2px;
  }

  .shop__card-item {
    outline: 3px solid var(--color-gold);
    outline-offset: 19px;
    height: 220px;
    margin-top: -10px;
    padding-top: 1px;
  }

  .shop__thrid-item {
    height: 195px;
    margin-top: -20px;
    padding-top: 10px;
  }

  /* footer */

  .footer {
    margin-top: 47px;
  }

  .footer__copyright {
    margin: 35px 0 41px 8px;
  }
}

@media (max-width: 1200px) and (orientation: portrait) {
  /* trands */

  .trands__card-item {
    width: calc(50% - 4px);
    min-height: 247px;
  }
}

@media (max-width: 640px) {
  .wrapper {
    padding-inline: 15px;
  }

  /*-- logo --*/

  .header__logo {
    width: 269px;
    padding-left: 0;
  }

  /* header */

  .header__logo-menu {
    justify-content: center;
    padding-top: 225px;
  }

  .header__background-image {
    background-image: url(../img/banner-mobile.jpg);
    background-position: 70% 70%;
    min-height: 639px;
  }

  .header__title-h1 {
    margin: 35px auto 0;
    font-family: var(--font-family-bold);
    font-size: clamp(
      var(--font-size-header-title-mobile),
      7vw,
      var(--font-size-header-title-tablet)
    );
    color: var(--color-white);
    line-height: clamp(3.6rem, 8vw, 5.5rem);
  }

  .header__nav-list {
    top: 22px;
    right: 55px;
  }

  /* main */

  .main {
    flex-direction: column;
    margin-top: 42px;
    margin-bottom: 34px;
    justify-content: normal;
  }

  .main__post {
    margin-bottom: 34px;
  }

  .main__post-date {
    padding-right: 5px;
  }

  p + p {
    margin-top: -15px;
  }

  .main__post-title {
    font-size: var(--font-size-title-mobile);
    line-height: 1.2;
    padding: 0px 0px 5px 0;
    margin-right: 0px;
  }

  p {
    font-size: var(--font-size-tags-aside);
    line-height: 2.1rem;
    margin-block: 0px 18px;
  }

  /* trands */

  .trands {
    margin-top: 40px;
  }

  .trands__title,
  .shop__title {
    font-size: var(--font-size-title-mobile);
  }

  .trands__cards {
    flex-wrap: wrap;
    margin-top: 25px;
    gap: 3px;
  }

  .trands__card-list {
    padding-bottom: 10px;
  }

  .fourth-tags {
    padding-left: 0px;
  }

  .trands__card-item {
    width: 100%;
    min-height: 231px;
  }

  .trands__card-title {
    font-size: clamp(
      var(--font-size-title-mobile),
      3vw,
      var(--font-size-title-tablet)
    );
    line-height: clamp(2rem, 3.5vw, 2.2rem);
  }

  .trands__card-content {
    padding-block: 32px 27px;
    padding-inline: 20px;
    margin-inline: 15px 17px;
    margin-bottom: 16px;
  }

  /* burger-menu */

  .burger-menu {
    top: 30px;
    right: 16px;
  }

  /* aside */

  .aside {
    margin-left: 0px;
    max-width: 100%;
  }

  .aside__section-title {
    font-size: var(--font-size-title-mobile);
    padding-left: 0px;
    margin-top: 38px;
  }

  .aside__image {
    width: 70px;
    padding: 0 0 3px 0px;
  }

  .aside__preview {
    max-width: 100%;
  }

  .search-field {
    padding: 15px 111px 16px 15px;
    width: 100%;
  }

  .search {
    padding: 0 0 2px 0px;
    justify-content: center;
  }

  .aside__title-mailing {
    padding-right: 0px;
  }

  .email-field {
    width: 100%;
    padding: 16px 160px 16px 17px;
    margin-bottom: 17px;
  }

  .email-button {
    padding: 16px 0px;
    width: 100%;
    max-width: 339px;
  }

  .email {
    padding: 24px 0 4px 0px;
    align-items: center;
  }

  .aside__tags-list {
    padding: 15px 0 0px 0px;
  }

  .title-themes {
    margin-top: 30px;
  }

  .themes-list {
    padding: 0px;
  }

  .themes-list-item:after {
    content: "";
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--color-gray-light);
    position: absolute;
    left: 0;
    bottom: 0;
  }

  /* shop */

  .shop__cards {
    flex-wrap: wrap;
    gap: 45px 70px;
    justify-content: flex-start;
    padding-inline: 20px 25px;
  }

  .shop__selling-item {
    width: 100%;
    min-height: 440px;
    position: relative;
  }

  .shop__card-item {
    outline: 3px solid var(--color-gold);
    outline-offset: 20px;
    margin-top: -8px;
    padding-top: 1px;
  }

  .shop__first-item {
    height: 174px;
  }

  .shop__card-desc {
    font-size: var(--font-size-text-p);
    line-height: 2.2rem;
    margin-block: 0px 10px;
  }

  /* footer */

  .footer {
    margin-top: 62px;
  }

  /* pop-up */

  .pop-up__image-form {
    width: 35px;
    bottom: 20px;
    right: 20px;

    &:hover {
      width: 40px;
      bottom: 17.5px;
      right: 17.5px;
    }
  }

  .pop-up {
    width: 331px;
    height: 546px;
    padding: 15px;
  }

  textarea {
    padding: 21px 0px 21px 21px;
  }

  .pop-up__submission {
    padding: 15px 103px;
  }
}

@media (max-width: 640px) and (orientation: landscape) {
  /* trands */

  .trands__card-item {
    width: calc(50% - 4px);
    min-height: 247px;
  }

  /* pop-up */

  .pop-up__image-form {
    display: none;
  }
}
